/** GENERAL - BODY, HEAD, FOOT ******************************/
/************************************************************/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color:black;
    box-sizing: border-box;
}

body {
    margin:0 5vh 0 5vh;
    background-color: rgb(35, 70, 71);
    font-family: 'Josefin Sans', sans-serif;
    
}

header, footer {
    width: 100%;
    height: 25vh;
    background-image: url("../img/pc.jpg");

}








.logo {
    width: 5vh;
    height: 5vh;
    float: right;
    display: inline;
}




.btn-menu {
  
    height: 3vh;
    color: black;
    padding: 2vh;
    text-align: center;
    justify-content: center;
    align-self: center;
}



/** INDEX.HTML - QUERYs *************************/
/************************************************/


#catalogo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgb(59, 85, 67);

}


@media only screen and (min-width: 420px){

    #catalogo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap; 
    
    }
   
}

@media only screen and (min-width: 720px){

    #catalogo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap; 
        align-items: stretch;
    }



      
}

@media screen and (min-width: 1024px){

    #catalogo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    nav a {
        display: inline;
    }
    
    .logo {
        width: 5vh;
        height: 5vh;
        float: right;
        display: none;
    }

}


