<section id="sidebar">
    <ul>
        <div  id="nav-lateral" class="nav-lateral"> 
            <h1 id="titulocategoria">Categorias</h1><br>
            <li id="categoria1"><h4><a href="#monitores" >Monitores</a></h4></li>
            <li id="categoria2"><h4><a href="#parlantes" >Parlantes</a></h4></li>
            <li id="categoria3"><h4><a href="#memorias" >Memorias</a></h4></li>
            <li id="categoria4"><h4><a href="#gabinetes" >Gabinetes</a></h4></li>
            <li id="categoria5"><h4><a href="#teclados" >Teclados</a></h4></li>
            <li id="categoria6"><h4><a href="#varios" >Varios</a></h4></li>
            <br>
            <hr>
            <br>

            <h2>Carrito</h2>
            <div id="carro">
                <div id="carrito"></div>
                <div id="carrito2"></div>
                <div id="carrito3"></div>
                <div id="carrito4"></div>
                <div id="carrito5"></div>
                <div id="carrito6"></div>
                <div id="carrito7"></div>
                <div id="carrito8"></div>

                <br><hr><br>   
                <div id="totalCarro"></div>
             </div>
             <p>
                 <button id="comprar" class="enviar" >COMPRAR</button>
             </p>
             
        
        </div>    
    </ul>   
</section>
